<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Goods</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
</head>
<body>

<header th:insert="common/header :: header"></header>

<div class="container text-center">
    <div>
        <h1>List of goods</h1>
    </div>
    <div>
        <table style="margin-left:auto;margin-right:auto;" class="table-striped text-center table-bordered">
            <thead class="thead-dark">
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Priority</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="good: ${goodsList}">
                  <td th:text="${good.id}">ID</td>
                  <td th:text="${good.name}">Name</td>
                  <td th:text="${good.priority}">Priority</td>
              </tr>
            </tbody>
        </table>
    </div>
    <br>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/goods/add}">Add new good</a>
</div>

<div th:insert="common/footer :: footer"></div>

</body>
</html>