<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Note was not found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
</head>
<body>

<header th:insert="common/header :: header"></header>

<div class="container text-center">
    <div>
        <h1>Note in warehouse was not found!</h1>
    </div>
</div>

<div th:insert="common/footer :: footer"></div>

</body>
</html>